name: Test
"on":
  push:
    branches:
      - master
  pull_request:
    types:
      - opened
      - synchronize
jobs:
  test_matrix:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        node_version:
          - 14
          - 16
          - 18
    steps:
      - uses: actions/checkout@v3
      - name: Test with Node.js ${{ matrix.node_version }}
        uses: actions/setup-node@v3
        with:
          cache: npm
          node-version: 16
      - run: npm ci
      - run: npx jest --coverage
  test:
    runs-on: ubuntu-latest
    needs: test_matrix
    steps:
      - run: exit 1
        if: ${{ needs.test_matrix.result != 'success' }}
      - uses: actions/checkout@v3
      - run: npm ci
      - run: npm run lint
      - run: npm run build
      - run: VERSION=`npm info @octokit/openapi version` npm run update-endpoints
    if: ${{ always() }}
